*{margin: 0; padding: 0;}

.doc{
  display: flex;
  flex-flow: column wrap;
  width: 990px;
  height: 870px;
  justify-content: center;
  align-items: center;
  background: #333944;
}
.box{
  width: 970px;
  height: 850px;
  background: #CCC;
  overflow: hidden;
}
.box img{
  width: auto;
  height: auto;
}

@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: scale-down;
      object-position: center center center;
    }
}